@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #efefef;
$secondary: #ed254e;
$tertiary: #d9d9d9;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  background-color: $primary;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.page {
  min-height: 100vh;
  @media (max-width: 640px) {
    min-height: 100vh;
  }
}

li {
  .active {
    color: $secondary;
    transition: all 0.3s ease-in-out;
  }
}

.underline-nav {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}

.cursor-pointer:hover .underline-nav {
  width: 100%;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  min-width: 65px;
  height: 140px;
  background-color: $primary;
  margin: 0 -1px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  @media (max-width: 900px) {
    width: 120px;
    min-width: 65px;
    height: 120px;
  }
}

.frontend {
  @media (max-width: 900px) {
    justify-content: center;
  }
}
